<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions required for OSMDroid and location services -->
    <!-- Internet permission for downloading map tiles and routing -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Network state permission to check connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Location permissions for GPS functionality -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- External storage permission for OSMDroid tile caching -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- External storage permission for image picker -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Media permissions for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/taxi_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Empty"
        tools:targetApi="31">
        <activity
            android:name=".splashscreens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splashscreens.SplashScreen1"
            android:exported="true">
        </activity>
        <activity
            android:name=".splashscreens.SplashScreen2"
            android:exported="true">
        </activity>
        <activity
            android:name=".splashscreens.SplashScreen3"
            android:exported="true">
        </activity>
        <activity
            android:name=".login.Login"
            android:exported="true">
        </activity>
        <activity
            android:name=".login.Register"
            android:exported="true">
        </activity>
        <activity
            android:name=".login.PasswordChange"
            android:exported="true">
        </activity>
        <activity
            android:name=".passenger.PassengerScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".driver.DriverMainScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menu.MenuMainScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menu.MyAccountScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menu.HistoryScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".menu.FeedbackDetailsScreen"
            android:exported="true">
        </activity>
    </application>

</manifest>